body {
    font-family: "Open Sans", sans-serif;
    margin: auto;
}

a,
button {
    transition: all .3s ease-in-out;
}

button:hover, a:hover {
    cursor: pointer;
}

.bloc {
    /*controls mainly the last photo background*/
    width: 100%;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/*Blocs padding && margins*/
.others-blocs {
    padding: 100px 50px;
}

.bloc-services {
    padding: 50px;
}

.header__footer--spaces {
    padding: 20px 0;
}

footer .icon-md {
    color: rgba(255, 255, 255, .6);
}

footer .icon-md:hover {
    color: rgba(255, 255, 255, 1);
}

.icon-md {
    font-size: 30px;
}

.icon-lg {
    font-size: 60px;
}

.services__icons-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

p {
    font-size: 11px;
}

.btn--modifs {
    margin-top: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 0px #000000;
}

.services__icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF;
}

.portfolio-row {
    margin: 50px 0;
}

/*background about us*/
.black-background {
    background-color:rgba(0,0,0, 0.7);
    padding: 40px 40px 40px 40px;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.text--orange {
    color: #F3976C;
}

.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF;
}

.btn-atomic-tangerine:hover {
    background: #c27956;
    color: #FFFFFF;
}

/*color services icons*/
.icon-dark-slate-blue {
    color: #364577;
}

.portfolio--background-lines {
    background-image: url("img/lines-h2-bg.png");
    background-size: auto;
    background-repeat: repeat;
}

.banner--view-top {
    background-image: url("img/la-chouette-agence-banniere.jpg");
}

.banner--about-us {
    background-image: url("img/image-de-presentation.bmp");
}

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}